/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/baskervville-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/baskervville-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* GENERAL */

body {
  background-color: #faf8f7;
  margin: 0;
}

.header {
  margin: 2rem 0;
}

.logo {
  float: left;
  height: 75px;
  margin-left: 1rem;
  width: 90px;
  position: absolute;
}

nav {
  padding: 1.2rem;
  text-align: center;
}

ul.navlist {
  margin-top: 3.5rem;
  list-style: none;
  font-family: 'Josefin_Sans';
  font-weight: normal;
  padding-left: 0.6rem;
}

.navlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 0.6rem;
}

a {text-decoration: none;}

a.portcs:link {color: #393E54;}
a.portcs:visited {color: #393E54;}
a.portcs:hover {color: #850009;}

a.resume:link {color: #393E54;}
a.resume:visited {color: #393E54;}
a.resume:hover {color: #850009;}

a.aboutme:link {color: #393E54;}
a.aboutme:visited {color: #393E54;}
a.aboutme:hover {color: #850009;}

h4.navtitle {
  color: #850009;
  font-family: 'Josefin_Sans';
  font-weight: normal;
  font-size: 75%;
  margin: 2rem 1.5rem 1.5rem 0.75rem;
}

h3 {
  color: #393E54;
  font-family: 'Josefin_Sans';
  margin: 1.25rem;
  font-size: 1.6rem;
}

/* INDEX */

.headerhome {
  margin: 2rem 0;
  padding: 0;
}

h1.name {
  color: #393E54;
  font-family: 'Josefin_Sans';
  font-size: 250%;
  font-weight: bold;
  margin-left: 7rem;
  margin-top: 0;
  display: inline-block;
}

ul.homenavlist {
  margin-top: 0rem;
  list-style: none;
  font-family: 'Josefin_Sans';
  font-weight: normal;
  padding-left: 0.6rem;
}

.homenavlist li {
  font-size: 1rem;
  font-weight: normal;
  display: inline;
  padding: 0.6rem;
}

h2.greeting {
  color: #6A5B58;
  font-family: 'Josefin_Sans';
  font-size: 130%;
  margin: 5rem 5rem 9rem 5rem;
  max-width: 50rem;
}

/* PORTFOLIO */

ul.portnav {
  list-style: none;
  margin: 0.5rem;
  padding-left: 2.2rem;
  font-family: 'Josefin_Sans';
}

.portnav li {
  padding: 0.5rem;
  text-align: left;
  width: 190px;
  font-weight: bold;
  border-left: 3px solid #202642;
}

a.cstudybutton:link {color: #202642;}
a.cstudybutton:visited {color: #202642;}
a.cstudybutton:hover {color: #7D4E4B;
                      background-color: #D4C6BD;
                      border-radius: 10px;}

a.aworkbutton:link {color: #202642;}
a.aworkbutton:visited {color: #202642;}
a.aworkbutton:hover {color: #7D4E4B;
                     background-color: #D4C6BD;
                     border-radius: 10px;}

h3.cstitles, h3.awtitles {
  margin: 0rem;
  padding: 3rem 1.5rem;
  font-size: 1.6rem;
  }
                    
.csimage, .awimage {
  width: 325px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
}

.mainportfolio, .mainaboutme, .mainrodin, .mainteado {
  margin: 0.7rem;
}

#teadoimage {
  margin-bottom: 9rem;
}

hr.solid {
  border-top: 1px solid #474c63;
  max-width: 375px;
}

.charcoal, .painting, .photo {
  vertical-align: middle;
  margin: 0.5rem;
}

#drawings, #paintings {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#photography {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.last {
  margin-bottom: 9rem;
}

h5 {
  font-family: 'Josefin_Sans';
  font-size: 120%;
  font-weight: bold;
  color: #202642;
}

.back {
  font-family: 'Josefin_Sans';
  font-size: 100%;
  margin-left: 1.5rem;
  font-weight: bold;
}

.cardsort, .finaluirodin{
  width: 275px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardsorting {
  text-align: left;
  margin-left: 3.5rem;
}

.rodinoverview, .problemstate, .users_aud {
  font-family: 'Baskerville';
  margin-left: 3.5rem;
}

/* RESUME */

.mainresume {
  margin: 0.7rem;
  max-width: 700px;
}

ul.resumelist {
  font-family: 'baskerville';
  padding-left: 4.2rem;
  margin: 0.5rem;
}

p.resume, p.me_para {
  font-family: 'baskerville';
  margin: 0.5rem;
  padding-left: 2rem;
}

h3.download {
  float: left;
  margin-right: 1rem;
  padding-bottom: 7rem;
  font-size: 100%;
}

.downloadlogo {
  width: 18px;
  height: 18px;
  margin: 1.8rem 1.5rem 1.5rem 0;
  padding-bottom: 7rem;
}

/* ABOUT ME */

h3.aboutme {
  color: #393E54;
  font-family: 'Josefin_Sans';
  margin: 1.5rem;
  padding-left: 0.5rem;
  font-size: 2.5rem;
}

.aboutmebody {
  margin-bottom: 9rem;
  margin: 0 auto;
  max-width: 500px;
}

.selfpic {
  width: 285px;
  margin: 0.5rem auto;
  padding-left: 2.5rem;
}

.meparagraphs {
  margin: 0 auto 9rem;
}

.me_para {
  text-align: left;
}
